<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="login">登录</a>
    <h3>课程信息</h3>
<ul>
    <% blogs.forEach(function(obj){ %>
    <li >
        <h3><%= obj.title %></h3>
        <p>
            <a href="teacher?author_id=<%= obj.author_id %>"> <%= obj.content %></a>
        </p>
    </li>
    <% }) %>
</ul>
</body>
</html>